@{
    string paginationBaseURL = "/articles/choose-version/" + ViewBag.articleID + "?page=";
    string editingBaseURL = "/articles/edit?articleID=" + ViewBag.articleID + "&&versionID=";
    string categoryBaseURL = "/articles/index/?categoryID=";
}

@if (ViewBag.CurrentArticleVersion != null)
{
    <div class="vw-article-link" 
    style="margin-bottom: 16px;">

        <a class="vw-article-link-title universal-link"
       href="@(editingBaseURL+(-1))"> @ViewBag.CurrentArticleVersion.Title </a>

       <div class="vw-article-link-editor">
            <a class="vw-article-link-category universal-link"
                href="@(categoryBaseURL+ViewBag.CurrentArticleVersion.CategoryID)">@ViewBag.CurrentArticleVersion.Category.Title</a>
            <div class="vw-article-link-date"> '@ViewBag.CurrentArticleVersion.CommitTitle' on @ViewBag.CurrentArticleVersion.CommitDate</div>
        </div>

        <div class="vw-article__status">• CURRENT</div>
    </div>
}

<!-- ARTICLES GRID, 2 COLUMNS -->
<div class="vw-articles-links">

    @foreach (ArticleVersion article in ViewBag.articleVersions)
    {

        <!-- ARTICLE ELEMENT -->
        <div class="vw-article-link">

            <a class="vw-article-link-title universal-link"
           href="@(editingBaseURL+article.VersionID)"> @article.Title </a>

            <div class="vw-article-link-editor">
               <a class="vw-article-link-category universal-link"
                href="@(categoryBaseURL+article.CategoryID)">@article.Category.Title</a>
               <div class="vw-article-link-date">'@article.CommitTitle' on @article.CommitDate</div>
            </div>
        </div>

    }

</div>

<!-- Pagination with Bootstrap-->
@if (ViewBag.lastPage > 1){
    <div>
        <div class="vw-pagination-wrapper">
            <ul class="vw-pagination">
                <!-- First page-->
                <li class="vw-page-item">
                    <a class="vw-page-link"
                       href="@(paginationBaseURL+1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="vw-page-item">
                        <a class="vw-page-link"
                       href="@(paginationBaseURL+i)">@(i)</a>
                    </li>
                }

                <!-- Last page-->
                <li class="vw-page-item">
                    <a class="vw-page-link"
                       href="@(paginationBaseURL+ViewBag.lastPage)" arialabel="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}