@if (ViewBag.Source == "filter-sort")
{
    @if (ViewBag.CategoryName)
    {
        <div class="vw-articles-filter">
            <div>
                <h1>ViewBag.CategoryName</h1>
            </div>
            <div>
                <!-- TO DO-->
            </div>
        </div>

        <!--ASCENDING BY PUBLICATION DATE-->
        @if (ViewBag.Sorting == 0)
        {
            <!--HTML:
                - bolded ascending-publication-date icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/1"
                - simple ascending-alphabetical icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/2"
            -->
        }
        <!--DESCENDING BY PUBLICATION DATE-->
        @else
        if (ViewBag.Sorting == 1)
        {
            <!--HTML:
                - bolded descending-publication-date icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/0"
                - simple ascending-alphabetical icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/2"
            -->
        }
        <!--ASCENDING ALPHABETICALLY-->
        @else
        if (ViewBag.Sorting == 2)
        {
            <!--HTML:
                - simple ascending-publication-date icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/0"
                - bolded ascending-alphabetical icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/3"
            -->
        }
        <!--DESCENDING ALPHABETICALLY-->
        @else
        if (ViewBag.Sorting == 1)
        {
            <!--HTML:
                - simple ascending-publication-date icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/0"
                - bolded descending-alphabetical icon -> href="/articles/index/filter-sort/ViewBag.CategoryID/2"
            -->
        }
    }

    <!--ASCENDING BY PUBLICATION DATE-->
    @if (ViewBag.Sorting == 0) 
    {
        <!--HTML:
            - bolded ascending-publication-date icon -> href="/articles/index/filter-sort/?sort=1"
            - simple ascending-alphabetical icon -> href="/articles/index/filter-sort/?sort=2"
        -->
    }
    <!--DESCENDING BY PUBLICATION DATE-->
    @else if (ViewBag.Sorting == 1)
    {
        <!--HTML:
            - bolded descending-publication-date icon -> href="/articles/index/filter-sort/?sort=0"
            - simple ascending-alphabetical icon -> href="/articles/index/filter-sort/?sort=2"
        -->
    }
    <!--ASCENDING ALPHABETICALLY-->
    @else if (ViewBag.Sorting == 2)
    {
        <!--HTML:
            - simple ascending-publication-date icon -> href="/articles/index/filter-sort/?sort=0"
            - bolded ascending-alphabetical icon -> href="/articles/index/filter-sort/?sort=3"
        -->
    }
    <!--DESCENDING ALPHABETICALLY-->
    @else
    if (ViewBag.Sorting == 1)
    {
        <!--HTML:
            - simple ascending-publication-date icon -> href="/articles/index/filter-sort/?sort=0"
            - bolded descending-alphabetical icon -> href="/articles/index/filter-sort/?sort=2"
        -->
    }
}


<!-- ARTICLES GRID, 2 COLUMNS -->
<div class="vw-articles-links">

    @foreach (var article in ViewBag.CurrentArticleQuery){
        <!-- ARTICLE ELEMENT -->
        <div class="vw-article-link" href="/articles/show/@article.ArticleID">
            <div class="vw-article-link-category">@article.Category.Title</div>
            <a class="vw-article-link-title">@article.Title</a>
            <div class="vw-article-link-editor">
                <p>@article.User.FirstName @article.User.LastName</p>
                <div class="vw-article-link-date">@article.PublicationDate</div>
            </div>
        </div>
    }
    
    <!-- ARTICLE ELEMENT 
    <div class="vw-article-link">
        <div class="vw-article-link-category">CATEGORY</div>
        <a class="vw-article-link-title" href="#">ARTICLE TITLE</a>
        <div class="vw-article-link-editor">
            <p>OLAERIU VLAD MIHAI</p>
            <div class="vw-article-link-date">November 22, 2022</div>
        </div>
    </div>
    -->

</div>
