<!-- 
    Check if the ActionMessage was successful
    NOTE! ActionMessage = the message returned when an action accours
-->
@{
    if (TempData.ContainsKey("ActionMessage"))
    {
        if ((TempData["ActionMessage"].ToString()).Contains("successfully"))
        {
            <div class="alert-message alert-message__succeeded"
                                 data-aos="fade-down"
                                 data-aos-duration="1000">
                                    <h4>@TempData["ActionMessage"]</h4>
            </div>
        }
        else
        {
            <div class="alert-message alert-message__failed"
                                     data-aos="fade-down"
                                     data-aos-duration="1000">
                                    <h4>@TempData["ActionMessage"] <span>Try again.</span></h4>
            </div>
        }
    }
}

<h1 class="vw-article-title" style="text-align: left;">@ViewBag.CategoryName</h1>
<div class="articles-filter">
    <div><h4>Filter options:</h4></div>
    <div class="articles-filter-btns">

        @if(ViewBag.Sorting == 0){
            <!-- 
                THE OLDEST ARTICLES: 
                Alphabetical search:    default = down
                Time search:            up
            -->
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=1">
                    <img src="~/images//Icons//Filter/TimeUp.svg" alt="age" />
                </a>
            </div>
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=2">
                    <img src="~/images//Icons//Filter/AlphabeticalDown.svg" alt="age" />
                </a>
            </div>
        } 
        else if(ViewBag.Sorting == 1){
            <!--
                THE NEWEST ARTICLES:
                Alphabetical search:    default = down
                Time search:            down
            -->
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=0">
                    <img src="~/images//Icons//Filter/TimeDown.svg" alt="age" />
                </a>
            </div>
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=2">
                    <img src="~/images//Icons//Filter/AlphabeticalDown.svg" alt="age" />
                </a>
            </div>
        }
        else if(ViewBag.Sorting == 2){
            <!--
                ALPHABETICALLY ASCENDING:
                Alphabetical search:    up
                Time search:            defaul = down
            -->
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=1">
                    <img src="~/images//Icons//Filter/TimeDown.svg" alt="age" />
                </a>
            </div>
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=3">
                    <img src="~/images//Icons//Filter/AlphabeticalUp.svg" alt="age" />
                </a>
            </div>
        } 
        else{
            <!--
                ALPHABETICALLY DESCENDING:
                Alphabetical search:    down
                Time search:            default = down
            -->
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=1">
                    <img src="~/images//Icons//Filter/TimeDown.svg" alt="age" />
                </a>
            </div>
            <div class="btn-filter">
                <a href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=2">
                    <img src="~/images//Icons//Filter/AlphabeticalDown.svg" alt="age" />
                </a>
            </div>
        }


    </div>
</div>

<!-- ARTICLES GRID, 2 COLUMNS -->
<div class="vw-articles-links">
    
    @foreach (Article article in ViewBag.CurrentArticleQuery){

        <!-- ARTICLE ELEMENT -->
        <div class="vw-article-link">

            <a class="vw-article-link-title universal-link" 
                href="/Articles/Show/@article.ArticleID"> @article.Title </a>

            <a class="vw-article-link-category universal-link" 
                href="/Articles/Index/filter-sort/@article.CategoryID/0">@article.Category.Title</a>
            
            <div class="vw-article-link-editor">
                <p>OLAERIU VLAD MIHAI</p>
                <div class="vw-article-link-date">@article.PublicationDate</div>
            </div>
        </div>

    }

</div>

<!-- Pagination with Bootstrap-->
<div>
    <div class="vw-pagination-wrapper">
        <ul class="vw-pagination">

            <!-- Previous page-->
            <li class="vw-page-item">
                <a class="vw-page-link"
                   href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=@ViewBag.Sorting&&page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="vw-page-item">
                    <a class="vw-page-link"
                   href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=@ViewBag.Sorting&&page=@i">@(i)</a>
                </li>
            }

            <!-- Next page-->
            <li class="vw-page-item">
                <a class="vw-page-link"
                   href="/Articles/Index/filter-sort?categoryID=@ViewBag.CategoryID&&sort=@ViewBag.Sorting&&page=@(ViewBag.lastPage)" arialabel="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>