<!-- Check if the ActionMessage was successful-->
@{
    if (TempData.ContainsKey("ActionMessage"))
    {
        if ((TempData["ActionMessage"].ToString()).Contains("successfully"))
        {
            <div class="alert-message alert-message__succeeded"
             data-aos="fade-down"
             data-aos-duration="1000">
                <h4>@TempData["ActionMessage"]</h4>
            </div>
        }
        else
        {
            <div class="alert-message alert-message__failed"
                 data-aos="fade-down"
                 data-aos-duration="1000">
                <h4>@TempData["ActionMessage"] <span>Try again.</span></h4>
            </div>
        }
    }
}

<!-- ARTICLES GRID, 2 COLUMNS -->
<div class="vw-articles-links">

    <span>@TempData["message"]</span>


    @foreach (var article in ViewBag.CurrentArticleQuery){
        <!-- ARTICLE ELEMENT -->
        <div class="vw-article-link" href="/articles/show/@article.ArticleID">
            <div class="vw-article-link-category">@article.Category.Title</div>
            <a class="vw-article-link-title">@article.Title</a>
            <div class="vw-article-link-editor">
                <p>@article.User.FirstName @article.User.LastName</p>
                <div class="vw-article-link-date">@article.PublicationDate</div>
            </div>
        </div>
    }
    
    <!-- ARTICLE ELEMENT 
    <div class="vw-article-link">
        <div class="vw-article-link-category">CATEGORY</div>
        <a class="vw-article-link-title" href="#">ARTICLE TITLE</a>
        <div class="vw-article-link-editor">
            <p>OLAERIU VLAD MIHAI</p>
            <div class="vw-article-link-date">November 22, 2022</div>
        </div>
    </div>
    -->

</div>
