@model Everything2Everyone.Models.ArticleBundle

<div class="vw-article">
    <!-- Article information -->
    <div class="vw-article-title">@Model.Article.Title</div>
    <div class="vw-article-author">posted by Olaeriu Vlad Mihai</div>
    <div class="vw-article-link-editor"
         style="margin: 8px 0px;">
        <div class="vw-centeralized">
            <img src="~/images/Icons/category.png" style="margin-right: 4px"/>
            <a class="vw-article-details" href="/Articles/Index/filter-sort/@Model.Article.CategoryID/0">@Model.Article.Category.Title</a>
        </div>
        <div class="vw-centeralized vw-article-details">
            <img src="~/images/Icons/date.png" style="margin-right: 4px;"/>
            @Model.Article.PublicationDate
         </div>
    </div>

    <!-- Display chapters-->
    @foreach (Chapter chapter in Model.Chapters){
        <h2 class="vw-chapter-title">@chapter.Title</h2>
        <p>@chapter.ContentUnparsed</p>
    }

    <!-- Add comment, only if user is authentificated -->
    @if( User.Identity.IsAuthenticated == true){
        <form method="POST" action="/Articles/Show/@Model.Article.ArticleID" class="vw-article-add-comment">
            <input type="hidden" name="ArticleID" value="@Model.Article.ArticleID" />

            <textarea name="Content" placeholder="Add a comment..." rows="4" id="comment_content"></textarea>
            @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

            <div class="vw-article-add-comment-btns">
                <div class="btn-basic btn-delete" id="clear_comment">Clear</div>
                <button class="btn-basic btn-add" type="submit">Post</button>
            </div>
        </form>
    }

    <!-- Display comments: -->
    @foreach ( Comment comment in Model.Article.Comments){
        <div class="vw-article-comment">
            <div>
                <div class="vw-comment-author">Toma Nadu<span>4h</span></div>
                <div class="vw-comment-content">
                    @comment.Content
                </div>
            </div>
            
            <div class="vw-sidebar-category-edit">

                <form method="GET" action="/Comments/Edit/@comment.CommentID">
                    <button type="submit"><img src="/Images/Icons/edit.png" alt="edit"></button>
                </form>

                <form method="POST" action="/Comments/Delete/@comment.CommentID">
                    <button type="submit"><img src="/Images/Icons/delete.png" alt="delete"></button>
                </form>
            </div>
        </div>
    }
</div>

<script>

    // On button click of 'Clear', the textarea that contains the
    // comment that the user is writing will be cleared
    const newCommentContent = document.querySelector("#comment_content");
    const clearNewComment = document.querySelector("#clear_comment");
    console.log(clearNewComment);

    clearNewComment.addEventListener("click", () => {
        newCommentContent.value = "";
    });

</script>
