@model Everything2Everyone.Models.PasswordChange

<h1 class="small-title">Edit your password:</h1>
@using (Html.BeginForm(actionName: "ChangePassword", controllerName: "Users", method: FormMethod.Post, routeValues: new { UserID = @Model.UserID }))
{
    <div style="display: flex; flex-direction: column; margin-bottom: 4px;">
        <input type="hidden" name="UserID" value="@Model.UserID" />

        <div class="vw-form-groups-items">
            <label class="vw-log-sign-label">Current password:</label>
            <input name="CurrentPassword" type="password"/>
            @if (TempData.ContainsKey("ActionMessage"))
            {
                <span style="color: var(--delete); margin-top: 4px;">@TempData["ActionMessage"]</span>
            }
        </div>

        <div class="vw-form-groups-items">
            <label class="vw-log-sign-label">New password:</label>
            <input name="NewPassword" type="password" />
            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
        </div>

        <div class="vw-form-groups-items">
            <label class="vw-log-sign-label">Confirm new password:</label>
            <input name="ConfirmNewPassword" type="password" />
            @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn-basic btn-edit" style="max-width: 5rem;">Edit</button>
    </div>
}
