@{
    string baseURL = "/users/index?page=";
}

<partial name="ErrorMessagePartial" />

<div class="vw-users">
    <div class="thick-small-title">Manage users:</div>
    <div class="vw-users-grid">
        <!-- USER CARD     -->
        @foreach (var user in ViewBag.Users)
        {
            <div class="vw-user-card">
                <div class="vw-user-card__info">
                    <h3>@user.UserName</h3>
                    <h5>@user.RoleName</h5>
                </div>
                <div class="vw-user-card__btns">
                    <!-- EDIT BUTTON FORM -->
                    @using (Html.BeginForm(actionName: "Edit",
                   controllerName: "Users",
                   method: FormMethod.Get,
                   routeValues: new { UserID = @user.UserId }))
                    {
                        <button type="submit"><img src="/Images/Icons/edit.png" alt="edit"></button>
                    }

                    <!-- DELETE BUTTON FORM -->
                    @using (Html.BeginForm(actionName: "Delete",
                   controllerName: "Users",
                   method: FormMethod.Post,
                   routeValues: new { UserID = @user.UserId }))
                    {
                        <button type="submit"><img src="/Images/Icons/delete.png" alt="delete"></button>
                    }

                </div>
            </div>
        }
    </div>
</div>


<!-- Pagination with Bootstrap-->
@if (ViewBag.lastPage > 1)
{
    <div>
        <div class="vw-pagination-wrapper">
            <ul class="vw-pagination">
                <!-- First page-->
                <li class="vw-page-item">
                    <a class="vw-page-link"
                   href="@(baseURL+1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="vw-page-item">
                        <a class="vw-page-link"
                   href="@(baseURL+i)">@(i)</a>
                    </li>
                }

                <!-- Last page-->
                <li class="vw-page-item">
                    <a class="vw-page-link"
                   href="@(baseURL+ViewBag.lastPage)" arialabel="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}