@{
    if (TempData.ContainsKey("ActionMessage"))
    {
        if ((TempData["ActionMessage"].ToString()).Contains("successfully"))
        {
            <div class="alert-message alert-message__succeeded"
         data-aos="fade-down"
         data-aos-duration="1000">
                <h4>@TempData["ActionMessage"]</h4>
            </div>
        }
        else
        {
            <div class="alert-message alert-message__failed"
         data-aos="fade-down"
         data-aos-duration="1000">
                <h4>@TempData["ActionMessage"] <span>Try again.</span></h4>
            </div>
        }
    }
}

<div class="vw-user-profile">
    <a href="/Users/Edit/@ViewBag.UserProfile.Id" id="edit-profile__img">
        <img src="~/images/Icons/edit.png">
    </a>

    <div class="vw-user-profile__info">
        <img src="~/images/profile-default.svg" alt="image">
        <div class="profile__info">
            <h1 class="vw-article-title">@ViewBag.UserProfile.FirstName @ViewBag.UserProfile.LastName</h1>
            <div style="display: flex; justify-content: space-between;">
                <h3 class="vw-article-author">@ViewBag.UserProfile.NickName</h3>
                <h3 class="vw-article-author">Rolul</h3>
            </div>
            <h3 class="vw-article-details">@ViewBag.UserProfile.Email</h3>
        </div>
    </div>
    
    <div class="vw-user-profile__btns">
        <a href="#">My articles</a>
        <a href="/Comments/MyComments">My comments</a>
        <a href="/Users/ChangePassword/@ViewBag.UserProfile.Id">Change password</a>
        <a href="/Users/ChangeEmail/@ViewBag.UserProfile.Id">Change email</a>
    </div>

</div>